*{
	margin:0;
	padding:0;
}
html, body{width:100%;height:100%;}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#262626;
	line-height:1.2;
	color:#000;
}
a{
	text-decoration:none;
	font:12px Arial, Helvetica, sans-serif;
	color:#000;
}
textarea{
	font:12px Arial, Helvetica, sans-serif;
	color:#666;
}
a.underline{text-decoration:underline;}
.h_normal{font-weight:normal;}
a img{border:0;}
input{font:12px Arial, Helvetica, sans-serif;}
ul, ol{list-style:none;}
.right{float:right;}
.left{float:left;}
.none{display:none;}
.block{display:block;}
.both{clear:both;}
.bold{font-weight:bold;}
.italic{font-style:oblique;}
.center{margin:0 auto;}
.align_center{text-align:center;}
.align_left{text-align:left;}
.align_right{text-align:right;}
.w990px{width:990px;}
.w100pc{width:100%;}
.relative{position:relative;}
.absolute{position:absolute;}
.collapse{border-collapse:collapse;}
.hidden{overflow:hidden;}
.pointer{cursor:pointer;}

.box{
	border-radius:10px;
	border:1px solid #fff;
	box-shadow:0 0 10px 0 rgb(0, 0, 0);
	padding:15px;
	background-color:#fff;
	margin:0 0 20px;
}

#topo{
	width:100%;
	min-width:990px;
	height:153px;
	float:left;
	padding:1px 0;
	background:#000 url(imagens/bg_topo.jpg) center center no-repeat;
}
#logo{
	margin:30px 0 0;
	display:block;
	float:left;
}
#tudo{
	width:990px;
	margin:0 auto;
	padding:1px 0;
}
#menu_top{
	width:100%;
	min-width:990px;
	height:49px;
	float:left;
	background:url(imagens/bg_menu.jpg) center center repeat-x;
	padding:1px 0 5px;
	margin:0 0 30px;
}
#menu_top li{float:left;}
#menu_top li a{
	display: block;
	height: 48px;
	line-height: 48px;
	border-right: 1px solid #333;
	padding: 0 15px;
	width: 120px;
	text-align: center;
	font-weight: bold;
	text-shadow: 0 0 8px #fff;
	font-size: 14px;
}
#menu_top li:last-child a{border-right:0;}
#menu_top li a:hover{
	background-color:#222;
	color:#FFF;
}
#aqui{
	float:left;
	width:680px;
	line-height: 1.4;
}
#sidebar{
	float:right;
	width:265px;
}
.cadastro{}
.cadastro p{
	margin:5px 0;
	line-height:25px;
}
.cadastro p span{
	background-color:#ededed;
	border:1px solid #d6d6d6;
	border-right:0;
	height:25px;
	line-height:25px;
	padding:0 5px 0;
	width:120px;
	display:block;
	float:left;
	text-align:right;
}
.cadastro p.c_textarea span{
	height:70px;
}
.cadastro p.c_textarea textarea{
	min-width:250px;
	width:250px;
	max-width:250px;
	min-height:70px;
	height:70px;
	max-height:70px;
}
.cadastro p input, .cadastro p select{
	border:1px solid #d6d6d6;
	height:25px;
	line-height:25px;
	width:250px;
	background-color:#fff;
}
.cadastro p select{
	height:27px;
	width:252px;
}
.cadastro p input[type=submit], .cadastro p input[type=button]{
	display:block;
	height:25px !important;
	line-height:25px !important;
	border:1px solid #999;
	outline:#DDD solid thin;
	font-weight:bold;
	margin:0 15px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	cursor:pointer;
	width:100%;
	background-color: #FFF;
}
.cadastro p input[type=submit]:hover, .cadastro p input[type=button]:hover{
	background-color: #ccc;
}

.right a.box{
	width:100px;
	margin:25px 60px 0 0;
	text-align:center;
	display:block;
	padding:10px;
}
.right a.box:hover{
	box-shadow:0 0 10px 0 rgb(255, 255, 255);
}

#plano_{
	width:365px;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 8px 10px;
	margin:10px 0;
	font-size: 18px;
	color:#333;
	background-color: #fefefe;
}

#p1 ul{
	width: 250px;
	padding: 0 0 0 30px;
	border-left: 2px dashed #333;
}
#p1 ul li{display: none;}

#p1 ul li h1{
	font-size: 18px;
	color:#900;
	border-bottom: 2px solid #CCC;
}
#p1 ul li p{
	border:0;
	font-size: 14px;
	line-height: 1.2;
	margin:5px 0;
}
#p1 ul li p.preco{
	line-height: 1.8;
	float: left;
	border: 2px solid #CCC;
	padding: 0 5px 0 0;
	width: 211px;
	cursor: pointer;
}
#p1 ul li p span{
	border:0;
	font-size: 16px;
	color:#900;
	font-weight: bold;
	background:none;
	margin:0 5px 0 0;
	width:auto;
	display:block;
	float:left;
	text-align:center;
}
.dias30{
	font-size: 50px;
	border-bottom: 2px solid #900;
	margin: 0 0 20px;
	text-align: center;
}

#atende_pro{
	background-color:#666;
    color:#FFF;
    height:40px;
    text-align:center;
    width:100%;
	margin:40px 0 0;
}
#atende_pro a{
	font:12px/40px Arial, serif;
	color:#FFF;
}

#home{line-height:1.8;}
.lista_recursos li img{display:none;}
.lista_recursos li{
	float: left;
	width: 235px;
	padding: 0 0 0 75px;
	margin: 15px 25px 15px 0;
	line-height: 1.2;
	height:90px;
}
.li_internet{background:url(imagens/internet.png) left top no-repeat;}
.li_documents{background:url(imagens/documents.png) left top no-repeat;}
.li_security{background:url(imagens/security.png) left top no-repeat;}
.li_newuser{background:url(imagens/newuser.png) left top no-repeat;}
.li_alert{background:url(imagens/alert.png) left top no-repeat;}
.li_person{background:url(imagens/person.png) left top no-repeat;}


div.lis_info{
	border-bottom: 2px solid #666;
	padding:0 0 10px;
}

.lis_info{
	display: block;
	float: left;
	margin:5px 0;
	width: 170px;
}
.lis_info > div strong{
	font-size: 18px;
	display: block;
	text-align: center;
	height: 25px;
}
.lis_info > div{
	padding:5px 0;
}
.plano_nome{
	font-size: 16px;
	font-weight: bold;
	width:100px;
	float:left;
	line-height: 1.2;
	text-align: center;
}
li .plano_nome{
	padding:20px 0;
}
.plano_info{
	font-size: 12px;
	width:150px;
	float:left;
	line-height: 1.2;
	text-align: left;
	padding:5px 10px !important;
}
.plano_mes{
	font-size: 24px;
	font-weight: bold;
	width:120px;
	float:left;
	line-height: 1.2;
	text-align: center;
	color:#f72;
}
.plano_sem{
	font-size: 26px;
	font-weight: bold;
	width:130px;
	float:left;
	line-height: 1.2;
	text-align: center;
	padding:5px 10px !important;
	border-left: 2px solid #900;
	border-right: 2px solid #900;
	color: #24a;
}
.plano_ano{
	font-size: 24px;
	font-weight: bold;
	width:125px;
	float:left;
	line-height: 1.2;
	text-align: center;
	color: #195;
}

.assinar{
	padding: 4px 8px;
	border: 1px solid #f96;
	border-radius: 4px;
	background-color: #f63;
	color: #fff;
	font-weight: bold;
	margin: 5px 0 0 12px;
	display: block;
	clear: both;
}
.assinar:hover{
	border: 1px solid #f63;
	background-color: #f96;
	text-decoration: underline;
}


#img_sas{display:none;}
